html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto Condensed, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background: #fff;
}

* {
  box-sizing: border-box;
}

a {
  color: #0a682f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  /* max-width: 100%; */
  display: block;
}

.header {
  background-color: black;
  width: 100%; 
}

.headerImg {
  background-color: #ffc425;
  width: 100%;
  height: 100px;
  margin-left: 76px;
}

.headerTitle {
  color: #fff;
  background-color: black;
  font-weight: 900; 
  /* display: flex;  
  align-items: center; 
  justify-content: center; */
  text-align: center;
  height: 100px;
  width: 100%;
  padding: 25px;
}

.navbar {
  text-align: center; 
  background-color: black;
  /* width: 100%;
  height: 100%;  */
  width: fit-content;
  height: fit-content;
}

.navbarButtonsList {
  margin-top: 50px;
}

.navbarItem{
  margin-right: 1%;
}

.navbarItem > button {
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;
  font-size: 14px;
}

.navbarItem > button:hover {
  color: #ffc425;
}

.navbarItem > button:selection {
  color: #ffc425;
  background-color: transparent;
}

.sidebar {
  background-color: rgba(0,0,0,.5);
  margin-top: 5%;
  margin-left: 2%; 
  padding: 5%; 
  color: #fff;
  border-radius: 10px;
}

.sidebarItem > p > a {
  color: #ffc425;
}

.postsList {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.postsList > li {
  margin-bottom: 10%; 
}

.postsListTitle {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.postsListSingleTitle {
  font-size: 30px;
  font-weight: 400;
}

.postsListImage {
  width: 144px; 
  height: 144px; 
  display: flex; 
  align-items: center;
  justify-content: center;
}
